<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <div class="container">
    <% include navbar %>
  </div>

  <div class="container">
    <br/>
    <h1>Partner with Charity Trivia!</h1>
    <p>When you make a Charity Account with Charity Trivia, the questions you upload can help you raise money for your cause!</p>

    <form action="/charity_signup">

      <!-- Button -->
        <div class="control-group">
          <label class="control-label" for="sign_up"></label>
          <div class="controls">
            <button id="sign_up" name="sign_up" class="btn btn-default">Sign Up</button>
          </div>
        </div>
    </form>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js">
    </script>
</body>
</html>
