<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <div class="container">
    <% include navbar %>
  </div>

  <div class="container">
    <br/>
    <h1>Our Partners</h1>
    
    <br/>

    <% for (var i = 0; i < charities.length; i++) { %>
        <!-- <p><%= charities[i].link %></p> -->
      <div class="col-md-3 col-sm-4 col-xs-6">
        <a target="_blank" class="sponsor" href="<%= charities[i].link %>" style="background-image:url('<%= charities[i].logo %>')">
          <% if (!charities[i].logo){ %>
            <h3><%= charities[i].name %></h3>
          <% } %>
        </a>
      </div>
    <% } %>


  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js">
    </script>
</body>
</html>
