<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <div class="container">
    <% include navbar %>
  </div>

  <div class="container">
    <br/>
    <h1>Our Mission</h1>
    </br>
    <p class="lead">Our mission is to educate users on the issues supported by our sponsor charities while assisting with donations to make their work possible, in order to make the world a better place!</p>

    </br>

    <p>We believe that each question is a step in the right direction to educating society on the issues that affect each and every one of us! From the safety of animals to problems with the environment, we want to help bring light to hard-working foundations that are changing the world.</p>

    <h1>The Team</h1>
    <div class="col-md-4">
      <h3><b>Justine Kunz</b></h3>
      <h4>Founder & Software Engineer</h4>
      <h5><i>justkunz@umich.edu</i></h5>
    </div>

    <div class="col-md-4">
      <h3><b>Kristen Dwan</b></h3>
      <h4>Software Engineer</h4>
      <h5><i>dwankri@umich.edu</i></h5>
    </div>

    <div class="col-md-4">
      <h3><b>Ethan Smith</b></h3>
      <h4>Software Engineer</h4>
      <h5><i>ethansm@umich.edu</i></h5>
    </div>

    <div class="col-md-4">
      <img class="crop" src="img/justine.png">
    </div>

    <div class="col-md-4">
      <img class="crop" src="img/kristen.png">
    </div>

    <div class="col-md-4">
      <img class="crop" src="img/ethan.png">
    </div>

  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js">
    </script>
</body>
</html>
