<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <div class="container">
    <% include navbar %>
  </div>

  <div class="container">
    <br/>
    <h1>Our Partner Charities</h1>

    </br>

    <p class="lead">The charities that partner with <i><b>Charity Trivia</b></i> make fulfilling <a href="/about_charity_trivia">our mission</a> possible. We appreciate their support and are very grateful for each and every one of them.</p>

    <p><i>Please click on their logos below to learn more about our sponsors and have the chance to get involved with specific charities of your interest.</i></p>

  </br></br>

    <% for (var i = 0; i < charities.length; i++) { %>
        <!-- <p><%= charities[i].link %></p> -->
      <div class="col-md-3 col-sm-4 col-xs-6">
        <a target="_blank" class="sponsor" href="<%= charities[i].link %>" style="background-image:url('<%= charities[i].logo %>')">
          <% if (!charities[i].logo){ %>
            <h3><%= charities[i].name %></h3>
          <% } %>
        </a>
      </div>
    <% } %>


  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js">
    </script>
</body>
</html>
