<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <div class="container">
    <% include navbar %>
  </div>

  <div class="container">
    <br/>
    <h1>Contact Us</h1>

    <h3>General</h3>
    <p>We are a small team. Please have patience with our response time.</p>
    <p>Shoot us an email at <b>charity_trivia@gmail.com</b> with any questions you may have!</p>

    <h3>How You Can Help Us!</h3>
    <p>Please share this page with others in order to expand our network of helping charities raise funds and awareness for their cause!</p>

    <h3>Donations</h3>
    <p>If you would like to make a direct donation, please click <a href="">here</a>.</p>

  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js">
    </script>
</body>
</html>
