<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
  <div class="container">
    <% include navbar %>
  </div>

  <div class="container">
    <br/>
    <h1>Our Partners</h1>

    <p>Comment to be removed: hover over photos (will be charity logo) and check out the link they go to. Without http:// tries to go to localhost .. hmm.</p>

    <% for (var i = 0; i < charities.length; i++) { %>
        <!-- <p><%= charities[i].link %></p> -->
        <a class="sponsor" href="<%= charities[i].link %>" style="background-image:url('http://www.seomofo.com/downloads/new-google-logo-knockoff.png')"></a>
    <% } %>


  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js">
    </script>
</body>
</html>
