<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>

  <% include navbar %>

  <div class="container">
    <br/><br/>
    <div class="row">
      <div class="col-md-6">
        <legend>Charity Login</legend>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form class="form-horizontal" action="/charity_login" method="post">

          <div class="control-group">
            <label>Email</label>
            <input type="text" id="charity_email" class="form-control" name="charity_email" required="">
          </div>

          <br/>

          <div class="control-group">
            <label>Password</label>
            <input type="password" id="password" class="form-control" name="password" required="">
          </div>

          <br/>

          <button type="submit" class="btn btn-success btn-lg">Login</button>
        </form>

        <hr>
        <p>Need a Charity Account? <a href="/charity_signup">Sign up</a>.</p>
        <p>Or, go <a href="/">home</a>.</p>
      </div>
    </div> <!-- End login form row div -->
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js">
    </script>
</body>
</html>
