<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-collapse">
              <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                  class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Charity Trivia</a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li id="home"><a href="/">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/about_charity_trivia">Charity Trivia</a></li>
                  <li><a href="/about_partner_charities">Partner Charities</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Information</li>
                  <li><a href="/about_contact_us">Contact Us</a></li>
                  <li><a href="/about_partner_with_us">Partner With Us!</a></li>
                </ul>
              </li>
              <% if (user !== undefined && user.charity_id !== undefined) { %>
                <li id="add_questions"><a href="/questions">Questions Portal</a></li>
              <% } %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if (session.passport.user !== undefined) { 
                  if (user.charity_id !== undefined) { %>
                    <li id="profile"><a href="/charity_profile"><%= user.name %></a></li>
                    <li id="logout"><a href="/logout">Logout</a></li>       
                <% } else { %> 
                    <li id="profile"><a href="/user_profile"><%= user.name %></a></li>
                    <li id="logout"><a href="/logout">Logout</a></li>  
                <% } 
              } else { %>
              <li id="login"><a href="/login">Login</a></li>
              <li id="signup"><a href="/signup">Sign Up</a></li>
            <% } %>
          </ul>
      </div>
      <!--/.navbar-collapse -->
  </div>
</div>
